name: 'Release'
permissions:
  contents: 'write'
  issues: 'write'
  pull-requests: 'write'
'on':
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - '.releaserc.json'
      - 'justfile'
      - 'LICENSE'
      - 'README.md'
      - 'renovate-config.json'
      - 'renovate.json'
concurrency:
  group: 'release'
defaults:
  run:
    shell: 'bash'
jobs:
  semantic_release:
    name: 'Semantic Release'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3' # v6.0.0
      - name: 'Setup Bun'
        uses: 'oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3' # v2.1.2
        with:
          bun-version: 'latest'
      - name: 'Release'
        run: |
            bun -e "const config = $(cat .releaserc.json); const plugins = config.plugins.map(p => Array.isArray(p) ? p[0] : p); console.log(plugins.join(' '))" | xargs bun install
            GH_TOKEN=${{ secrets.SEMANTIC_RELEASE_TOKEN }} bunx semantic-release
