---

name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'  # Runs every day at 03:00 UTC

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Run Renovate
        uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          configurationFile: "renovate-config.json"
          token: ${{ secrets.RENOVATE_TOKEN }}
